<div class="col-md-6 col-md-offset-3">
	<div class="new-book-form">
		<%= form_for @school do |f| %>
			<%=f.label :name %>
			<%= f.text_field :name, class: 'form-control'  %>

			<%= f.label :address %>
			<%= f.text_field :address, class:'form-control' %>

			<%= f.label :fees %>
			<%= f.text_field :fees, class:'form-control' %>

			<%= f.label :state %>
			<%= f.text_field :state, class:'form-control' %>

			<%= f.submit "Save School", class:'btn-custom2' %>
		<% end %>
	</div>
</div>